input, .wrap{
    width: 50%;
    height: 35px;
}

input.valid{
    border:2px solid green;
}

input.invalid{
    border:2px solid red;
}

.add{
    width: 50%;
}
.nav-tabs .nav-link.active{
    background-color: #E0E0E0;
}

.btn-secondary:active:focus, .btn-check:focus + .btn, .btn:focus, .btn-secondary:focus{
    outline: 0;
    box-shadow: none;
}
